body, html{
    height: 100%;
    margin: 0px;
    background-color: #F4F4F4;
}

@font-face {
    font-family: ArcaMajora;
    src: url(ArcaMajora3-Bold.woff);
}

@font-face {
    font-family: Travel;
    src: url(Travel.otf);
}

.message-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    background-color: #476A00;
    margin: 0px;
    padding: 10px;

}

p.message-banner-text{
    font-family: ArcaMajora;
    font-size: 1em;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #373737;
    text-align: center;
    margin-bottom: 20px;
}

p.footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1, h2, h3{
    font-family: ArcaMajora;
}

h1{
    font-size: 3.125em;
}

h2{
    font-size: 2.8125em;
}

h3{
    font-size: 1.25em;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 22px;
    color: #373737;
    margin: 0px;
}

nav {
    text-align: center;
    align-items: center;
}

nav ul {
    padding: 10px 10px 10px 10px ;
    margin: 0px;
    
    
}

nav li {
    position: relative;
    list-style: none;
    height: 72px;
    display: inline-block;
    
}

nav li a {
    display: inline-block;
    padding: 17px 12px;
    line-height: 38px;
    text-decoration: none;
    color: white;

    font-family: ArcaMajora;
    font-size: 1.25em;
}

nav li a:hover {
    color: white;
}

nav li a:active {
    background-color: transparent !important;
}

nav li.current a {
    color: black;
}

.logo {
	float: left;
    vertical-align: middle;

    font-family: Travel;
    font-size: 2em;
    color: #373737;
    
}

.logo a {
    display: inline-block;
    padding: 17px 12px;
    line-height: 38px;
    text-decoration: none;
    color: white;
}

.menuicons{
    float: right;
    vertical-align: middle;
}

.menuicons a {
    display: inline-block;
    vertical-align: middle;
    padding: 17px 12px;
    line-height: 38px;
    text-decoration: none;
    color: white;
}

#alticoncolor{
    filter: invert(1);
}

#alttextcolor{
    color: #373737;
}

/* Hero text */
.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

/* Hero button */
  .hero-text button {
    padding: 16px 24px;

    background: #476A00;
    border: 2px solid #86A44B;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.25);
    border-radius: 20100px;

    text-align: center;
    vertical-align: middle;
    font-family: ArcaMajora;
    font-size: 20px;
    color: #ffffff;
  }

/* The hero image */
.hero-img {
    background-image: linear-gradient(rgba(62, 62, 62, 0.58), rgba(0, 0, 0, 0.5)), url("Hero-BG.png");

     /* Set a specific height */
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }

  .card{
    width: 295px;
    height: 353px;
    left: 82px;
    top: 891px;
    margin: 10px 20px 10px 20px;

    background: linear-gradient(180deg, #434343 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: translateY(-75%);
  }

  .cardimg{
      border-radius: 10px;
      height: 100%;
      width: 100%;
  }

  .home_categories{
      display: flex;
      justify-content: center;
      height: 300px;
  }

  h2.productcards{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);

      font-size: 36px;
      color: #ffffff;
  }
 
  .testimonial_group{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
 
  }
  .testimonial{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    width: 408.09px;
    height: 477.18px;
    margin: 0px 40px 0px 40px;
    background-image: url("Quotes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;

  }

  .testimonialimg{
    border-radius: 100%;
    width: 160px;
    height: 160px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  p.testimonialtxt{
      max-width: 300px;
  }

  .divider{
    width: 100px;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid #373737;
  }

  .bottombanner{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
  }

  .shippingimg{
    margin-right: 100px;
    margin-left: 100px;
  }

  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }

  .product-page-top{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;

  }

  .product-title-price{
    display: flex;
    align-items: baseline ;
    justify-content: center;
    margin-bottom: 4px;
  }

  a.size-chart{
      text-decoration: underline;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #373737;
  }

  h2.product-title{
      margin: 0px 8px 0px 0px;
  }
  
  p.reviews{
      margin: 0px 0px 0px 0px;
  }
  
  .reviews-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    max-height: 550px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;

    margin: auto;
    margin-top: 50px;
  }
  
  .mySlides {
    min-width: 900px;
    margin-right: 70px;
    margin-left: 70px;
    
  }

  .right-arrow-slider{
    position: absolute;
    top: 65%;
    left: 95%;
    transform: translate(-50%, -100%);
  }

  .left-arrow-slider{
    position: absolute;
    top: 65%;
    right: 90%;
    transform: translate(-50%, -100%);
  }

  img.slider{
    width: 100%;
    height: 545px;
  }

  .product-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 44px;
  }

  .product-options-container{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
  }

  .select-option{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .color-option{
    width: 33px;
    height: 33px;
    border-radius: 100px;
    margin-right: 12px;
    margin-left: 12px;
  }

  /* Option select button */
  .button-option {
    padding: 8px 16px;
    background: #FFFFFF;
    border: 2px solid #86A44B;
    box-sizing: border-box;
    border-radius: 20100px;
    margin-left: 8px;
    margin-right: 8px;

    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    font-family: ArcaMajora;
    color: #373737;
  }

  p.quantity{
      margin-left: 24px;
  }

  .product-details{
      display: grid;
      grid-template-columns: 25% auto;
      row-gap: 36px;
      column-gap: 36px;
      justify-content: center;
      overflow: hidden;
  }

  .product-details-block{
      display: flex;
      align-items: top;
      justify-content: center;
      margin-top: 75px;
      overflow: hidden;

  }

  p.product-description-text{
      max-width: 750px;
  }
  
  h3.pdetails-title{
      float: right;
  }

  .materials-grid{
    width: 750px;
    display: grid;
    grid-template-columns: 375px 375px;
    row-gap: 36px;
  }

  .material-item{
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .related-products{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    overflow: hidden;

  }

  .related-product-item{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 228px;
    height: 221px;
    left: 398px;
    top: 1776px;
    background: linear-gradient(180deg, #434343 0%, rgba(255, 255, 255, 0) 100%), url(pexels-spencer-gurley-14480551.png);
    margin: 24px;
    border-radius: 10px;
    
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }

  .product-item-catharness{
    width: 260px;
    height: 250px;
    left: 398px;
    top: 1776px;
    background: url(greeshma-gangadharan-qoYDRMuxA9U-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .product-item-dogharness{
    width: 260px;
    height: 250px;
    left: 398px;
    top: 1776px;
    background: url(dogharness.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .product-item-attachment{
    width: 260px;
    height: 250px;
    left: 398px;
    top: 1776px;
    background: url(dogattachment.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  a.product-item-link{
      text-decoration: none;
  }

  .add-to-cart{
    font-family: ArcaMajora;
    font-size: 1em;
    padding: 8px 16px 8px 16px;
   
    color: #FFFFFF;
    background: #476A00;
    border: 2px solid #86A44B;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.25);
    border-radius: 20100px;
  }

  h3.product-item-text {
    margin: 4px;
  }

  .products-grid-item{
      display: flex;
      justify-content: left;
      flex-direction: column;
      padding: 8px;
  }


  .products-grid{
      max-width: 1100px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 24px;
      float: left;
  }

  .filters-products-grid{
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 64px;
      margin-right: 36;
  }

  .filters{
    padding: 0px 36px;
  } 

  .dd-button{
    text-decoration: none;
    font-size: 16px;
    color: #373737;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #373737; ;
    background: none;
    width: 75%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }

  .arrow {
    border: solid #373737;
    border-width: 0 2px 2px 0;
    float: right;
    padding: 4px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

  .sort-button{
    text-decoration: none;
    font-size: 16px;
    color: #373737;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #373737; ;
    background: none;
    width: 200px;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }